<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated cbmc -->
      <package
            uri="http://www.eclipse.org/cbmc"
            class="org.eclipse.cbmc.CbmcPackage"
            genModel="model/cbmc.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.extension_parser">
      <!-- @generated cbmc -->
      <parser
            type="cbmc"
            class="org.eclipse.cbmc.util.CbmcResourceFactoryImpl"/>
   </extension>

</plugin>
